body {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 15px;
  color: #00568c;
}

.flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexcolumn {
  display: flex;
  flex-direction: column;
}

.flexcolumncenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px
}
//CONTAINERS/BUTTONS
.chatcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hometopbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 65vh
}
.homebottombox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 55vh
}
.homeboxbuttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.homeboxabout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 100px
}

.homebutton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  padding: 15px 200px;
  border-radius: 20px;
  margin: 0px 40px;
}

.loginbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 120px;
  border-radius: 20px;
  margin: 5vh 40px 5vh 40px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
}

//IMAGES
.logo {
  height: 130px;
}
.aboutimg {
  width: 200px;
}
.infoimg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info {
  padding-top: 50px;
}
.desk {
  padding-top: 50px;
  height: 220px
}
.apple {
  height: 100px;
  padding-right: 40px
}

//FONTS
.h1 {
  padding: 30px;
  margin: 0px;
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 50px;
  color: #00568c
}
.h2 {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 40px;
  color: #00568c;
  margin: 0px;
}
.h3 {
  font-family: 'Source Sans Pro';
  font-weight: 200;
  font-size: 30px;
  color: #00568c
}
.h4 {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 25px;
  color: #00568c;
  // width: 5vw;
}
.h5 {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 25px;
  color: #eb6a6a;
  padding-top: 25px;
}
.h6 {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 15px;
  color: #00568c;
  // width: 5vw;
}
.chatred {
  font-family: 'Source Sans Pro';
  font-weight: 200;
  font-size: 20px;
  color: #eb6a6a
}
.chatblue {
  font-family: 'Source Sans Pro';
  font-weight: 200;
  font-size: 20px;
  color: #00568c
}

//COLORS
.red {
  background-color: #eb6a6a
}
.pink {
  background-color: #ffc6c9
}
.yellow {
  background-color: #fff0e2
}
.blue {
  background-color: #00568c
}
.toppad {
  padding-top: 50px
}

.rooms {
  flex-wrap: wrap;
  display: flex;
  padding: 2vh;
  justify-content: center;
}

.roomcontainer {
  padding: 10px 55px;
  border-radius: 20px;
  margin: 50px 30px 0px 30px;
}

//TUTOR RESGISTER

.tutorinput {
  padding: 10px 30px;
  margin-left: 5vw;
  border-radius: 20px;
  border-color: #ffc6c9;
  border-width: 5px;
  border-style: solid;
  width: 40vh;
}

.registerbox {
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  align-items: center;
}

.dropdown {
  margin-left: 40px;
  border-radius: 10px;
  width: 20vw;
  height: 50px;
}

//CHATROOM component -- currently inside APPCONTAINER

.chatboxheader {
  display: flex;
  width: 80vw;
  padding: 2vh;
  justify-content: center;
}
.chatbox {
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 80vw;
  align-items: center;
}
.chatbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  padding: 5px 10px;
  border-radius: 20px;
  margin-left: 20px
}
.chatbuttoncontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputfield {
  height: 6vh;
  border-radius: 20px;
  margin-top: 2vh
}
.sendbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  width: 10vh;
  padding: 5px 10px;
  border-radius: 20px;
  margin: 2vh 20px 0px 20px;
  background-image: none;
  border-color: #eb6a6a;
}

.chatroom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5%;
}
.chatroom_header {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.chatroom_title {
  flex: 6;
}
.chatroom_count {
  flex: 1;
}
.chatroom_countDescrip {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chatroom_messages_box {
  flex: 6;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
}
.chatroom_messages_box h2 {
  flex: 1;
}

.chatroom_messages {
  flex: 6;
}
.chatroom_msg {
  margin: 5px 10px;
}
.own_msg {
  color: grey; // any color but different from other msgs!
  font-family: 'Source Sans Pro';
  font-weight: 200;
  font-size: 20px;
}
.system_msg {
  color: grey; // any color but different from other msgs!
  font-style: italic;
  font-family: 'Source Sans Pro';
  font-weight: 200;
  font-size: 20px;
}

.hometitle {
    background-color: pink;
    display: flex;
    font-size: 50px;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: center;
}
.flexbox {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.classbutton {
    width: 150px;
    height: 100px;
}

.flexboxcol {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.chatroom_new_message {
  display: flex;
  flex-basis: none;
  align-items: center;
  justify-content: center;
}
.chatroom_new_message_text {
  height: 20px;
  width: 80%;
  flex: 7;
  // background-color: __INSERT COLOR__
}
.chatroom_new_message_btn {
  flex: 1;
  margin-left: 5px;
}
